# fly.toml app configuration file generated for ufc-prediction-api on 2026-01-10T21:12:26-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ufc-prediction-api'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = 'alembic upgrade head'

[env]
  APP_ENV = 'production'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
